DJANGO_SECRET_KEY=change-me
DEBUG=1
DB_NAME=cruddb
DB_USER=cruduser
DB_PASSWORD=crudpassword
DB_HOST=db
DB_PORT=5432
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_STORAGE_BUCKET_NAME=change-me
AWS_REGION=ap-southeast-1
